body {
    background-color: #fee0e6;
}

.postBox {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
    max-width: 500px;
    min-height: 250px;
    gap: 1rem;
    background-color: #f3afbb;
    border-radius: 15px;
}

.form-grid {
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 1rem 1rem;
    align-items: center;
}

.form-grid label {
    text-align: right;
}

textarea {
    width: 30vw;
    max-width: 300px;
    min-height: 100px;
}

.header {
    top: 0;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: .5em;
    background-color: #f3afbb;
    border-color: salmon;
    border-radius: 5px;
}

a {
    color: #34495e;
    text-decoration: none;
    padding: 1rem;
    border-radius: 10px;
}

.nav a:hover {
    background-color: #f4c3cc;
    color: #092747;
}