body {
    background-color: #fee0e6;

}

.postBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 80vh;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 400px;
    height: 250px;
    gap: 1rem;
    background-color: #f3afbb;
    border-radius: 15px;
}

.form-grid {
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 1rem 1rem;
    align-items: center;
}

.form-grid label {
    text-align: right;
}

textarea {
    width: 100%;
    max-width: 190px;
    height: 100px;
    resize: none;
}

input[type="file"] {
    color: transparent;
}

@media (max-width: 900px) {
    form {
        width: 100%;
    }
}