
form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.loginBox {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
    border-width: .5em;
    
}
.formBox{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: lightpink;
    border-radius: 1em;
    padding: 2em;
}
.bluetxt {
    color:rgb(70, 94, 173);
}

input[type="submit"]:hover{
    background-color: #facbd3;
    color:  #092747;
}