*{
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;

ul {
    margin: 15px;
    padding: 15px;
    list-style: none;

    }

a{
    text-decoration: none;
}
footer{
    position: fixed;
    background-color: lightpink;
    border-radius: 15px;
    box-shadow: 15%;
    justify-content: center;
}



.header{
    top: 0;
    display: flex;
    position: sticky;
    background-color: lightpink;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 15px;
    box-shadow: 15%;
    
}
.nav{
    margin-top: 4px;
    display: flex;
    
}


.login {
    margin: 5px
    
}

.nav a{
    padding: 10px 15px;
    text-align: center;
    color: darkslategrey;
    font-size: large;
}
.nav a:hover{
    background-color: lightblue;

}

}